* {
	border: none;
	border-radius: 15px;
	font-family: "NotoMonoNerdFont" ;
	font-size: 15px;
	min-height: 5px;
}


@define-color main-color #1793d1;
@define-color text-color #DCDCDC;
@define-color bg #000000;


window#waybar {
	background: transparent;
}

window#waybar.hidden {
	opacity: 0.2;
}

#window {
	margin-top: 3px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
  color: transparent;
	background: transparent;
}

#workspaces {
	margin-top: 3px;
	border-radius: 10px;
	background: @bg;
	transition: none;
}

#workspaces button {
	transition: none;
	color: @text-color;
	background: transparent;
	border-radius: 2px;
  border-bottom: 3px solid transparent; /* Reserve space */
}

#workspaces button.occupied {
	transition: none;
	color: @main-color;
	background: transparent;
}

#workspaces button.active {
  color: @text-color;
  border-bottom-color: @main-color;
}

#workspaces button:hover {
	transition: none;
	box-shadow: inherit;
	text-shadow: inherit;
	/* color: #FAE3B0; */
	/* border-color: #E8A2AF; */
	/* color: #E8A2AF; */
}

#workspaces button.active:hover {
    /* color: #E8A2AF; */
}

#network {
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 19px;
	margin-bottom: 0px;
	border-radius: 10px;
  border-bottom: 2px;
  border-style: solid;
	transition: none;
  color: @text-color;
  border-color: @main-color;
  background: @bg;
}

#pulseaudio {
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
  border-bottom: 2px;
  border-style: solid;
	transition: none;
  color: @text-color;
  border-color: @main-color;
  background: @bg;
}

#jack {
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
  border-bottom: 2px;
  border-style: solid;
	transition: none;
  color: @text-color;
  border-color: @main-color;
  background: @bg;
}

@keyframes blink {
    to {
        background-color: #BF616A;
        color: #B5E8E0;
    }
}

#clock {
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 0px;
	border-radius: 10px;
  border-bottom: 2px;
  border-style: solid;
	transition: none;
  color: @text-color;
  border-color: @main-color;
  background: @bg;
}

#memory {
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
  border-bottom: 2px;
  border-style: solid;
	transition: none;
  color: @text-color;
  border-color: @main-color;
  background: @bg;
}

#cpu {
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
  border-bottom: 2px;
  border-style: solid;
  color: @text-color;
  border-color: @main-color;
  background: @bg;
}

#custom-thermals {
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 10px;
  border-radius: 10px;
  border-bottom: 2px;
  border-style: solid;
	transition: none;
  color: @text-color;
  border-color: @main-color;
  background: @bg;
}

#tray {
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-right: 10px;
	border-radius: 10px;
	transition: none;
	color: #B5E8E0;

  border-bottom: 2px;
  border-style: solid;
  border-color: @main-color;
  background: @bg;
}

#custom-launcher {
	/* font-size: 16px; */
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 10px;
	padding-right: 5px;
  border-radius: 10px;
  border-bottom: 2px;
  border-style: solid;
	transition: none;
  color: @text-color;
  border-color: @main-color;
  background: @bg;
}

#custom-power {
	/* font-size: 20px; */
	margin-top: 3px;
	margin-left: 8px;
	margin-right: 8px;
	padding-left: 10px;
	padding-right: 15px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
  border-bottom: 2px;
  border-style: solid;
  color: @text-color;
  border-color: @main-color;
  background: @bg;
}

#custom-quit {
  /* font-size: 20px; */
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 11px;
	padding-right: 14px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
  border-bottom: 2px;
  border-style: solid;
  color: @text-color;
  border-color: @main-color;
  background: @bg;
}

#custom-sleep {
	/* font-size: 20px; */
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 12px;
	padding-right: 15px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
  border-bottom: 2px;
  border-style: solid;
  color: @text-color;
  border-color: @main-color;
  background: @bg;
}

#custom-reboot {
	/* font-size: 22px; */
	margin-top: 3px;
	margin-left: 8px;
	padding-left: 12px;
	padding-right: 12px;
	margin-bottom: 0px;
	border-radius: 10px;
	transition: none;
  border-bottom: 2px;
  border-style: solid;
  color: @text-color;
  border-color: @main-color;
  background: @bg;
}
